@import "../base/variables.css";
@import "../base/utilities.css";

/* shared */
@import "../shared/buttons.css";
@import "../shared/breadcrumb.css";

/* components */
@import "./components/navbar.css";
@import "./components/buttons.css";

/* pages */
@import "./pages/hrd-dashboard.css";
@import "./pages/admin-dashboard.css";
@import "./pages/lowongan.css";
@import "./pages/hrd-lowongan-create.css";
@import "./pages/kandidat.css";