/* =======================
   GLOBAL
======================= */
body {
    font-family: 'Inter', sans-serif;
}

/* =======================
   DASHBOARD CARD
======================= */
.dashboard-card {
    background: #f8f9fb;
    border: 1px solid #d0d5dd;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard-card-header {
    padding: 12px 16px;
    font-weight: 600;
    background: #f3f4f6;
    border-bottom: 1px solid #d0d5dd;
    border-radius: 10px 10px 0 0;
}

.dashboard-card-body {
    padding: 16px;
}
