@tailwind base;

/* ==================================================
   GLOBAL VARIABLE & FONT
================================================== */
@import "./base/variables.css";

/* ==================================================
   GLOBAL STYLE (SELURUH WEBSITE)
================================================== */
body {
    font-family: var(--font-main);
    color: #111827;
}

/* ==================================================
   COMPONENTS
================================================== */
@tailwind components;

/* ==================================================
   DASHBOARD & PUBLIC CUSTOM CSS
================================================== */
@import "./dashboard/dashboard.css";

/* ==================================================
   UTILITIES
================================================== */
@tailwind utilities;
