@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================================================
   GLOBAL FONT (SELURUH WEBSITE)
================================================== */
@layer base {
    html {
        font-family: 'Inter', system-ui, -apple-system,
                     BlinkMacSystemFont, 'Segoe UI',
                     Roboto, 'Helvetica Neue', Arial, sans-serif;
    }
}
