@import "./base/variables.css";

@import "./components/navbar.css";
@import "./components/footer.css";
@import "./components/buttons.css";
@import "./components/service-card.css";
@import "./components/jasa-card.css";
@import "./components/cta.css";
@import "./components/client.css";
@import "./components/breadcrumb.css";

@import "./pages/home.css";
@import "./pages/jobs.css";
@import "./pages/about.css";
@import "./pages/login.css";
@import "./pages/jobs-detail.css";
@import "./pages/profile.css";
